#session-emprestar-livro{
  position: relative;
  top: 4em;
}

#a{
  position: relative;
  top: 2em;
  display: inline-block;
}

#imagem-livro{
  width: 100%;
  text-align: center;
}

#imagem-livro .material-icons{
  position: relative;
  top: 1em;
  font-size: 15em;
}
